# Supabase Configuration
SUPABASE_URL=https://embvkfuwevutfwpxemfe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtYnZrZnV3ZXZ1dGZ3cHhlbWZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2MzE4MDcsImV4cCI6MjA5ODIwNzgwN30.7TpRsKACUi0FSGL7yBeSFe5c2Te9uj9WDQLR9a7G2xE
SUPABASE_BUCKET=HOVB
